################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatanGame/obj
/.vs/CatanGame
/CatanGame/bin/Debug/net8.0-android
/.vs/CopilotSnapshots/2C5E73DDBF6F2849955BE2654F4E9AB9
